.mapDiv {
	display: flex;
	position: relative;
	width: 1200px;
	height: 600px;	

	&__container {
		width: 100%;
		border-radius: 30px;

	

		.leaflet-control-container {
			margin-top: 100px;
		}
	}

	.leaflet-top {
		margin-top: 25px;
	}

	.leaflet-left {
		left: 25px;
	}
}

/*-------------------------------*/

// .bicycle {
// 	display: flex;
// 	position: absolute;
// 	justify-content: space-between;
// 	align-items: center;
// 	left: 45rem;
// 	top: 150px;
// 	width: 800px;
// 	height: 500px;
// 	background: rgba(0, 0, 255, 0);
// 	z-index: 10;

// 	& img {
// 		width: 600px;
// 		height: auto;
// 	}
// }

// .city {
// 	display: flex;
// 	position: absolute;
// 	justify-content: space-between;
// 	align-items: center;
// 	left: -30rem;
// 	top: -12rem;
// 	width: 500px;
// 	height: 800px;
// 	background: rgba(67, 67, 182, 0);	
// 	z-index: 10;

// 	& img {
// 		width: 500px;
// 		height: auto;
// 	}
// }

/*-------------------------------*/

// @media screen and (max-width: 1560px) {
// 	.mapDiv {
// 		width: 1200px;
// 		height: 700px;
// 	}
// }
// @media screen and (max-width: 1280px) {
// 	.mapDiv {
// 		width: 950px;
// 		height: 700px;
// 	}
// }
// @media screen and (max-width: 1280px) {
// 	.mapDiv {
// 		width: 950px;
// 		height: 700px;
// 	}
// }

// @media screen and (max-width: 1060px) {
// 	.mapDiv {
// 		width: 700px;
// 		height: 700px;
// 	}
// }
// @media screen and (max-width: 790px) {
// 	.mapDiv {
// 		width: 450px;
// 		height: 400px;
// 	}
// }
