/* .searchBox::-webkit-scrollbar{
    scrollbar-width: none;
    display:none;
} */
.searchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:rgb(238, 241, 229);
  height:350px;
  margin-bottom:1rem;
  width:90%;
}

.searchInputs{
    display: flex;    
    margin-top: 3rem;
  }

.searchInputs input{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    padding: 0 0.7rem 0 0.7rem;
    margin-bottom: 1rem;
    width: 20em;
    height:3.5em;
    border:3px solid #f5c877;
    border-radius: 5rem;
    font-size:1em;
    outline:none;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  right:2px;
  height: 60px;
  width: 50px;
  background-color: white;
}


.dataResult {
    display:flex;
    flex-direction:column;
    margin-top: 0.5em;
    width: 25em;
    height: 12.5em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
    overflow: hidden;
    overflow-y: auto;   
  }

  .dataResult::-webkit-scrollbar{
    display:none;      
  }
  
  
  .dataResult .dataBox {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3em; 
  }
  
  .dataBox p {
    margin-left: 0.7em;
  }

  
  a:hover {
    background-color: lightblue;
  }
  

a{
    text-decoration:none;
    color: inherit;
}


