/* .searchBox::-webkit-scrollbar{
    scrollbar-width: none;
    display:none;
} */
.searchBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	height: 150px;
	background: white;

	
	&__input {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		margin-top: 3rem;

		& input {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 0.7rem 0 0.7rem;
			width: 730px;
			margin-bottom: 1rem;
			height: 3.5em;
			border: 2px solid #29A796;
			border-radius: 5rem;
			font-size: 1em;
			outline: none;
		}


	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 20px;
		height: 40px;
		width: 30px;
		top: 5px;
		align-items: center;
		background-color: transparent;
	}

	&__result {
		display: flex;
		flex-direction: column;
		width: 55em;
	}

	&__result__dataResult {
		display: flex;
		flex-direction: column;
		margin-top: 0.5em;
		padding: 1em;
		width: 25em;
		height: 12.5em;
		background: white;
		box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
		overflow: hidden;
		overflow-y: auto;
		z-index: 2;

		& a {
			padding: 10px;
			text-decoration: none;
			color: inherit;
		}
		
		& a:hover {
			background-color: #9ae6ff;
		}
		
	}
}

// .searchBar__result__dataResult::-webkit-scrollbar {
// 	display: none;
// }




@media screen and (max-width: 1060px) {
	.searchBar__input input {
		width: 35em;
	}
}

@media screen and (max-width: 590px) {
	.searchBar__input input {
		width: 20em;
	}
}
