.navBar {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 90px;
	line-height: 40px;
	box-shadow: 0px 4px 2px -2px #032425;
	font-size: 1.5rem;
	background: white;

	&__mainbox {
		display: flex;
		position: relative;
		width: 100%;
		height: 50px;

		&__list {
			display: inline-flex;
			justify-content: center;
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		&__connexionBtn {
			position: absolute;
			top: -10px;		
			right: 5px;
		}
	}
	&__burgerCross {
		display: none;
	}

	.logoutBtn {
		position: absolute;
		top: 100px;
		right: 70px;
		background: rgb(232, 15, 15);
	}
}

.navBar li:hover {
	color: #68ae62;
}

.navBar a {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width: 1060px) {
	.navBar {
		& li.active {
			border-bottom: 1px solid #bdb3b3;
		}
		&__mainbox {
			display: flex;
			justify-content: end;
		}
		&__mainbox__list {
			flex-direction: column;
			top: 6rem;
			right: 10px;
			border-radius: 10px;
			border: 2px solid rgb(230, 223, 223);
			background: rgb(255, 255, 255);
		}
		&__burgerCross {
			position: absolute;
			display: block;
			right: 10px;
			top: 10px;
			color: rgb(3, 128, 51);
			cursor: pointer;
		}
	}
}
