.home {
	display: flex;
	align-items: center;
	justify-content: center;
  width:100%; 
  background:white; 
  // background: url("../assets/images/valentinAntonucci_unsplash.jpg");
  // background-size: cover;	
}
