.formInput {
	display: flex;
	flex-direction: column;
	width: 500px;


	&__input {
		padding: 15px;
		margin: 10px 0px;
		border:none;
		border-radius: 15px;

	}
}

input[type=textarea]{	
	height:150px;
}