/*TEST ZONE------------------*/
.modal_styles{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff04;
  padding: 50px;
  z-index:1000;
}

.overlay_styles{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0,0,0,.7);
  z-index:1000;
}

.redtest{
  width:500px;
  height:500px;  
  background:rgba(255, 0, 0, 0.131);
}

/*----------------------------*/

.modalAuth-component {  
  position: fixed;
  opacity: 0.9;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffffd5;
  padding: 50px;
  z-index:100;
}



.modalAuth-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__title {
    margin-top: 2rem;
    font-weight: 700;
  }

  &__mode {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    span {
      cursor: pointer;
      color: #ffba08;
      text-decoration: underline;
    }
  }

  &__input {
    width: 90%;

    .modalAuth__signup-input,
    .modalAuth__signin-input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;

      & label {
        display: block;
        width: 100%;
      }
      & input {
        width: 80%;
        height: 3em;
        border-radius: 5px;
        border: 1px solid rgb(207, 199, 199);
      }
    }

    .modalAuth__submit {
      & button {
        padding: 10px;
        width: 80%;
        font-size: 1.3rem;
        border: none;
        border-radius: 10px;
        background: #026a5a;
        color: white;
      }

      &__forgotPassword {
        text-align: start;
        margin-left: 2em;
        margin-top: 10px;
      }
      &__forgotPassword a {
        font-size: 18px;
        text-decoration: underline;
        color: #032425;
      }
    }
  }
}
