.modalAuth {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  //position: sticky;
  // top: 600px;
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;

  &__title {
    margin-top: 2rem;
    font-weight: 700;
  }

  &__input {
    width: 90%;

    .modalAuth__signup-input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;

      & label {
        display: block;
        width: 100%;
      }
      & input {
        width: 80%;
        height: 3em;
        border-radius: 5px;
        border: 1px solid rgb(207, 199, 199);
      }
    }

    .modalAuth__submit {
      & button {
        padding: 10px;
        width: 80%;
        font-size: 1.3rem;
        border: none;
        border-radius: 10px;
        background: rgb(14, 86, 253);
        color: white;
      }

      &__forgotPassword {
        text-align: start;
        margin-left: 2em;
      }
      &__forgotPassword a {
        text-decoration: underline;
        color: blue;
      }
    }
  }
}

// .test {
//   background-color: #68ae62;
//   height: 100vh;
//   width: 100vw;
// }

.modalWrapper {
  filter: blur(0px);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: "transparent";
  position: sticky;
  z-index: 0;
}
